*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;

}

body{
    background-image: linear-gradient(to right,#4895EF,#7209B7);
text-align: center;
justify-content: center;
display: flex;


}
#header{
    text-align: center;
    color:#000814 ;
margin: 10px;
letter-spacing: 2px;
}



.container{
    border: 1px solid #3F6634;
    border-radius: 10px;
    margin: 80px 300px 50px 300px;
    background-color: #EDF6F9;
    box-shadow: 4px 3px #7209B7;
    padding: 10px;
    opacity: 0.8;

}
.form-control{
    
padding-left: 60px;
padding-right: 140px;
text-align: start;



}

.input{
    margin-top: 10px;

}
.input label{
    font-size: 15px;
    color: #000000;
    
}
.input input{
    display: block;
/* padding: 5px 10px 5px 10px; */
width: 150%;
padding: 5px;

border: none;
outline: none;
background: transparent;
color: #2B2D42;

border-bottom:5px solid #BAFFFA ;


}
.input select{
    display: block;
    /* padding: 5px 90px 5px 10px; */
    padding: 5px;

    width: 150%;
    border: none;
    outline: none;
background: transparent;
border-bottom:2px solid #BAFFFA;
color: #2B2D42;

}
.input .select{
    text-align: center;
}

.btns{
    justify-content: center;
    padding:10px;
    border: none;
    outline: none;
    background-image: linear-gradient(to right,#7209B7,#4CC9F0);

    border: 1px solid #7209B7 ;
    border-radius: 5px;
    margin: 10px;
}
.input span{
    font-size: 11px;
    color: #EF233C;
    align-items: center;
}
.form span{
    font-size: 11px;
    color: #EF233C;
}


.input span i{
    color:#3A5A40;
}
.form span i{
    color: #3A5A40;

}
@media screen and (max-width:600px){
    .container{
        margin: 40px;

    }
   
  

    
}